@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&family=Poppins:wght@100&family=Roboto+Condensed:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Roboto Condensed','Poppins','Playfair Display', sans-serif;
}

body {
    background:  #5cb873;
}

.quote-container {
    background: #fff;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}
.quote-container h2{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.quote-container h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.quote-container blockquote{
    font-size: 26px;
    min-height: 110px;
}

.quote-container blockquote::after,.quote-container blockquote::before{
    content: '"';
}

.quote-container span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.quote-container span::before{
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}

.quote-container div{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quote-container button{
    background: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23, 124, 229);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}

.quote-container button img{
    width: 20px;
    margin-right: 10px;
}

.quote-container button:nth-child(2){
    background: transparent;
    color: #333;
}